<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	
	<display-name>myServlet1</display-name>

	<!-- 设置全局数据 -->
	<context-param>
		<param-name>name</param-name>
		<param-value>全局数据</param-value>
	</context-param>

	<!-- 设置Servlet -->
	<servlet>
		<description>设置第一个Servlet</description>
		<servlet-name>my</servlet-name>
		<servlet-class>com.servlet.test.ServletTest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>my</servlet-name>
		<url-pattern>/my</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>request对象</description>
		<servlet-name>req1</servlet-name>
		<servlet-class>com.servlet.test.RequestServletTest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>req1</servlet-name>
		<url-pattern>/myReq</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>respone对象</description>
		<servlet-name>resp1</servlet-name>
		<servlet-class>com.servlet.test.ReSponoseServletTest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>resp1</servlet-name>
		<url-pattern>/myResp</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>转发和重定向</description>
		<servlet-name>test2</servlet-name>
		<servlet-class>com.servlet.转发和重定向.Test</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>test2</servlet-name>
		<url-pattern>/zdx</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>实战1</description>
		<servlet-name>User</servlet-name>
		<servlet-class>com.sz.servlet.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>User</servlet-name>
		<url-pattern>/user</url-pattern>
	</servlet-mapping>

	<!-- 设置欢迎页面。 -->
	<welcome-file-list>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- 设置错误页面 -->
	<error-page>
		<error-code>404</error-code>
		<location>/error/404.html</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/error/405.html</location>
	</error-page>
</web-app>